<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
    <h1>Headlines news</h1>
    <h2>Current weather</h2>
    <p>City: <b>{{weather['name']}}</b></p>
    <p>{{weather['weather'][0]['description']}} | {{weather['main']['temp']}}&#8451;</p>
    <form action="/" method="POST">
    <input type="text" name="publication" placeholder="search" />
    <input type="submit" value="Submit">
    </form>
    {% for article in articles %}
        <h1><a href="{{ article.link }}" >{{ article.title }}</a></h1>
        <h3>{{ article.published }}</h3>
        <h3>{{ article.summary }}</h3>
        <hr />
    {% endfor %}
</body>
</html>
